@font-face {
  font-family: "norseFont";
  src: url("/Norse-Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 1600px;
  display: flex;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.881);
}
.image-container {
  position: relative;
  height: 1000px;
  align-items: center;
}

.odin-logo {
  position: absolute;
  top: 20%;
  background-color: rgb(251, 0, 0, 0.5);
  width: 100%;
  color: white;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.odin-logo span {
  font-family: "norseFont";
  font-size: 97px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f3f3f3;
}
.content,
.form-container,
.button-container {
  padding: 30px;
  height: 33%;
}

.content {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-container {
  background-color: white;
  box-shadow: 0 5px 2px -2px gray;
}

form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-right: 20px;
  margin-bottom: 20px;
}

input:focus {
  border: blue;
}

button {
  background-color: #596d48;
}
